# samples file
samples_csv: "config/samples.csv"
# genome-of-interest (must be dm6, danRer7, danRer10, danRer11, hg19, hg38, mm9, mm10, or mm39)
genome_of_interest: "hg38"
# effective genome size
## for effective genome sizes see: https://deeptools.readthedocs.io/en/develop/content/feature/effectiveGenomeSize.html
effective_genome_size: 2913022398
blacklist_file: "resources/hg38-blacklist.v2.bed"
spike_in_chrom_prefix: "EC_"
# trimmomatic options:
trimmomatic_threads: 8
trimmomatic_adapterfile: "/usr/local/analysis/trimmomatic/0.35/lib/adapters/TruSeq3-PE-2.fa"
# cutadapt options
cutadapt_adapterfile: "/usr/local/analysis/trimmomatic/0.35/lib/adapters/TruSeq3-PE-2.fa"
# bowtie2 options
bowtie2_genome: "/Volumes/Sansam/hpc-nobackup/bowtie2Indexes/hg38_ecoli_bowtie2Index/hg38_ecoli_bowtie2Index"
bowtie2_threads: 12
bowtie2_samtools_threads: 12
# samtools filter flag - 1036 is UNMAP,MUNMAP,DUP
samtools_filter_flag: 1036
# sicer options:
sicer_run: True
sicer_genome: "hg38"
sicer_windowSize: 200
sicer_fragmentSize: 150
sicer_fdr: 0.01
sicer_gapSize: 600
# macs2 options
# macs2 "normal" options
macs2_minimum_FDR_cutoff: 0.05
# macs2 "broad" options
macs2_broad_minimum_FDR_cutoff: 0.1
# bamCoverage options
bamCoverage_binSize: 100
#################################################################
##                     Environment Modules                     ##
#################################################################
# These will be specific to your cluster                        #
#################################################################
trimmomatic: "trimmomatic/0.35"
cutadapt: "cutadapt/3.7"
bowtie2: "bowtie2/2.3.1"
samtools: "samtools/1.14"
sicer2: "sicer2/1.0.2"
macs2: "macs2/2.2.7.1"
deeptools: "deeptools/3.4.3"
R: "R/4.1.2-mkl"
Bioconductor: "bioconductor/3.14"
